#footer{
    background-color: #43ba7f;
    color: white;
    padding: 30px 10px;
    font-size: 14px;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    padding-left: 11px;
}

.titulo{
    font-weight: bold;
    /* color: #126d3f; */
    padding-left: 0;
}

.underline{
    text-decoration: underline;
}


#logo{
    font-size: 100px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#historia{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}