<div id="footer">
    <div class="row">
        <div class="col">
            <ul>
                <li><a class="titulo" [routerLink]="['/inicio']">- <span class="underline">INICIO</span></a></li>
                <li><a href="">Bienvenida</a></li>
                <li><a href="">Descubrir servicios</a></li>
                <li><a href="">Estadísticas</a></li>
                <li><a href="">Día del Médico</a></li>
                <li><a href="">Certificaciones</a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a class="titulo" href="">- <span class="underline">NUESTROS MÉDICOS</span></a></li>
                <li><a class="titulo" href="">- <span class="underline">SERVICIOS</span></a></li>
                <li><a href="">Nuestros Servicios</a></li>
                <li><a href="">Especialidades</a></li>
                <li><a class="titulo" href="">- <span class="underline">AGENDAR CITA</span></a></li>
                <li><a class="titulo" href="">- <span class="underline">REPORTE DE CITAS</span></a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a class="titulo" href="">- <span class="underline">NOSOTROS</span></a></li>
                <li><a href="">Historia</a></li>
                <li><a href="">Filosofía</a></li>
                <li><a href="">Nuestra Tecnología</a></li>
                <li><a href="">Certificados</a></li>
                <li><a class="titulo" href="">- <span class="underline">CONTACTO</span></a></li>
                <li><a class="titulo" href="">- <span class="underline">DESARROLLADORES</span></a></li>
            </ul>
        </div>
        <div class="col" id="historia">
            <h2>VitalCare</h2>
            Fundada el 20 de agosto del 2003 por un grupo de especialistas médicos, VitalCare fue creada con el propósito de establecer una clínica accesible para la población en general.
        </div>
        <div class="col" id="logo">
            <i class="fa-solid fa-hospital"></i>
        </div>
    </div>
</div>
