<div id="footer">
    <div class="row">
        <div class="col">
            <ul>
                <li><a class="titulo" [routerLink]="['/inicio']"  routerLinkActive="active">- <span class="underline">INICIO</span></a></li>
                <li><a [routerLink]="['/inicio']"  routerLinkActive="active">Bienvenida</a></li>
                <li><a [routerLink]="['/inicio']"  routerLinkActive="active">Descubrir servicios</a></li>
                <li><a [routerLink]="['/inicio']"  routerLinkActive="active">Estadísticas</a></li>
                <li><a [routerLink]="['/inicio']"  routerLinkActive="active">Día del Médico</a></li>
                <li><a [routerLink]="['/inicio']"  routerLinkActive="active">Certificaciones</a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a class="titulo" [routerLink]="['/nuestrosMedicos']" routerLinkActive="active">- <span class="underline">NUESTROS MÉDICOS</span></a></li>
                <li><a class="titulo" [routerLink]="['/servicios']" routerLinkActive="active">- <span class="underline">SERVICIOS</span></a></li>
                <li><a  [routerLink]="['/servicios']" routerLinkActive="active">Nuestros Servicios</a></li>
                <li><a [routerLink]="['/servicios']" routerLinkActive="active">Especialidades</a></li>
                <li><a class="titulo"  [routerLink]="['/regCitas']" routerLinkActive="active">- <span class="underline">AGENDAR CITA</span></a></li>
                <li><a class="titulo"  [routerLink]="['/reportes']" routerLinkActive="active">- <span class="underline">REPORTE DE CITAS</span></a></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><a class="titulo" [routerLink]="['/nosotros']" routerLinkActive="active">- <span class="underline">NOSOTROS</span></a></li>
                <li><a [routerLink]="['/nosotros']" routerLinkActive="active">Historia</a></li>
                <li><a [routerLink]="['/nosotros']" routerLinkActive="active">Filosofía</a></li>
                <li><a [routerLink]="['/nosotros']" routerLinkActive="active">Nuestra Tecnología</a></li>
                <li><a [routerLink]="['/nosotros']" routerLinkActive="active">Certificados</a></li>
                <li><a class="titulo" [routerLink]="['/contacto']" routerLinkActive="active">- <span class="underline">CONTACTO</span></a></li>
                <li><a class="titulo" [routerLink]="['/equipo']" routerLinkActive="active">- <span class="underline">DESARROLLADORES</span></a></li>
            </ul>
        </div>
        <div class="col" id="historia">
            <h2>VitalCare</h2>
            Fundada el 20 de agosto del 2003 por un grupo de especialistas médicos, VitalCare fue creada con el propósito de establecer una clínica accesible para la población en general.
        </div>
        <div class="col" id="logo">
            <i class="fa-solid fa-hospital"></i>
        </div>
    </div>
</div>
