<body>
    <div class="container-outside">
        <div class="container">
            <div class="text-center">
                <h1 class="title-container">Ponte en <span class="highlight">contacto </span>con VitalCare</h1>
                <br>
                <p class="text-container">¡Mándanos un mensaje y comienza tu camino hacia una salud óptima!. Visítanos
                    cuantas veces sea necesario, tu salud es nuestra prioridad.</p>
                <br>
            </div>
        </div>
    </div>
    <h2 class="section-contact">¡El servicio de <span class="highlight">mejor calidad</span> que puede obtener!</h2>
    <div class="container text-center contacto">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Ubicación</h3>
                        <p class="card-text">Av. Universidad 940, Ciudad Universitaria, Aguascalientes, Ags.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Número de Teléfono</h3>
                        <p class="card-text">(449) 910-7400 <br> (449) 580-2300</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Correo Electrónico</h3>
                        <p class="card-text">VitalCare&#64;hotmail.com <br> VitalCare&#64;hotmail.es</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-subtitle">
            <div class="title-contact">Ponerse en Contacto</div>
        </div>
        <h2 class="section-contact">Contáctenos para asistencia personalizada y resoluciones rápidas.</h2>
    </div>
    <div id="mensaje">
        @if (name!=""){
            <p>Hola <span>{{name}}</span>! Gracias por ponerte en contacto con nosotros, alguien de nuestro equipo revisará tu mensaje, espera nuestra respuesta.</p>
        }
    </div>
    <div class="container">
        <app-formulario (propagar)="procesaPropagar($event)"></app-formulario>
        <br><br>
    </div>
</body>