.container-outside {
  background-color: #43ba7f1a;
  padding-top: 30px;
}

.title-container {
  font-size: 45px;
  font-weight: bold;
}

.text-container {
  font-size: 22px;
}

.highlight {
  color: #43ba7f;
}

.section-contact {
  text-align: center;
  width: 600px;
  margin: 30px auto;
  font-weight: bold;
}

.card {
  border-radius: 16px;
  margin: 5px;
  margin-bottom: 30px;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
  background-color: #43ba7f1a;
  border: none;
  padding: 12px;
}

.card-img-top {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card-body {
  padding: 20px;
}

.card-title {
  color: black;
  font-weight: bold;
}

.card-text {
  color: black;
  font-size: 20px;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.card-text:hover {
  color: #43ba7f;
}

.card:hover {
  border: white;
  box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.3);
}

.circle-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43ba7f;
  margin: 0 auto;
  margin-top: 20px;
}

.contacto i {
  color: white;
  font-size: 30px;
}

.container-subtitle {
  text-align: center;
}

.title-contact {
  display: inline-block;
  text-align: center;
  background-color: #43ba7f1a;
  padding: 4px 16px;
  font-size: 20px;
  color: #238f5a;
  font-weight: bold;
  border-radius: 18px;
}
#mensaje{
  display: flex;
  justify-content: center;
}

#mensaje p{
  background-color: #43ba7f1a;
  font-weight: bold;
  padding: 20px;
  margin: 30px 0px;
}

#mensaje span{
  color: #238f5a;
}