<!-- <body>
    <div class="container-outside">
        <div class="container">
            <div class="text-center">
                <h1 class="title-container">Ponte en <span class="highlight">contacto </span>con VitalCare</h1>
                <br>
                <p class="text-container">¡Mándanos un mensaje y comienza tu camino hacia una salud óptima!. Visítanos
                    cuantas veces sea necesario, tu salud es nuestra prioridad.</p>
                <br>
            </div>
        </div>
    </div>
    <h2 class="section-contact">¡El servicio de <span class="highlight">mejor calidad</span> que puede obtener!</h2>
    <div class="container text-center contacto">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Ubicación</h3>
                        <p class="card-text">Av. Universidad 940, C.U., Aguascalientes, Ags.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Número de Teléfono</h3>
                        <p class="card-text">(449) 910-7400 <br> (449) 580-2300</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Correo Electrónico</h3>
                        <p class="card-text">vitalcareclinicas&#64;gmail.com <br> vitalcare.clinica2024&#64;gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-subtitle">
            <div class="title-contact">Ponerse en Contacto</div>
        </div>
        <h2 class="section-contact">Contáctenos para asistencia personalizada y resoluciones rápidas.</h2>
        <div class="row g-3">
            <div class="col-md-6">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre Completo"
                    [(ngModel)]="nombre" required>
            </div>
            <div class="col-md-6">
                <input #nombreInput type="email" class="form-control" id="email" placeholder="Correo Electrónico"
                    [(ngModel)]="email" required>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="tel" placeholder="Número de Teléfono" [(ngModel)]="telefono"
                    required>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="asunto" placeholder="Asunto" [(ngModel)]="asunto" required>
            </div>
            <div class="mb-3">

                <textarea class="form-control" id="textarea" rows="4" placeholder="Escribe tu mensaje..."
                    [(ngModel)]="mensaje" required></textarea>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn" (click)="enviarCorreo()">Enviar</button>
            </div>
        </div>
    </div>
</body> -->

<body>
    <div class="container-outside">
        <div class="container">
            <div class="text-center">
                <h1 class="title-container">Ponte en <span class="highlight">contacto </span>con VitalCare</h1>
                <br>
                <p class="text-container">¡Mándanos un mensaje y comienza tu camino hacia una salud óptima!. Visítanos cuantas veces sea necesario, tu salud es nuestra prioridad.</p>
                <br>
            </div>
        </div>
    </div>
    <h2 class="section-contact">¡El servicio de <span class="highlight">mejor calidad</span> que puede obtener!</h2>
    <div class="container text-center contacto">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Ubicación</h3>
                        <p class="card-text">Av. Universidad 940, C.U., Aguascalientes, Ags.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Número de Teléfono</h3>
                        <p class="card-text">(449) 910-7400 <br> (449) 580-2300</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: auto;">
                    <div class="circle-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Correo Electrónico</h3>
                        <p class="card-text">vitalcareclinicas&#64;gmail.com <br> vitalcare.clinica2024&#64;gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container-subtitle">
            <div class="title-contact">Ponerse en Contacto</div>
        </div>
        <h2 class="section-contact">Contáctenos para asistencia personalizada y resoluciones rápidas.</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row g-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre Completo" formControlName="nombre">
                    <div *ngIf="contactForm.get('nombre').invalid && contactForm.get('nombre').touched" class="text-danger">
                        Nombre completo es requerido.
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" formControlName="email">
                    <div *ngIf="contactForm.get('email').invalid && contactForm.get('email').touched" class="text-danger">
                        Correo electrónico es requerido y debe ser válido.
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="tel" placeholder="Número de Teléfono" formControlName="telefono">
                    <div *ngIf="contactForm.get('telefono').invalid && contactForm.get('telefono').touched" class="text-danger">
                        Número de teléfono es requerido y debe tener 10 dígitos.
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="asunto" placeholder="Asunto" formControlName="asunto">
                    <div *ngIf="contactForm.get('asunto').invalid && contactForm.get('asunto').touched" class="text-danger">
                        Asunto es requerido.
                    </div>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="textarea" rows="4" placeholder="Escribe tu mensaje..." formControlName="mensaje"></textarea>
                    <div *ngIf="contactForm.get('mensaje').invalid && contactForm.get('mensaje').touched" class="text-danger">
                        Mensaje es requerido.
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success" [disabled]="contactForm.invalid">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</body>
