<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <app-menu></app-menu>
    <div>

        <body>
            <br><br><br><br>
            <div class="container">
                <h1>Contacto</h1>
                <form id="contactForm" action="submit_form.php" method="post">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Mensaje:</label>
                    <textarea id="message" name="message" rows="5" required></textarea>

                    <button type="submit" onclick="submitForm()">Enviar Mensaje</button>
                </form>
            </div>

            <script>
                function submitForm() {
                    var name = document.getElementById('name').value;
                    var email = document.getElementById('email').value;
                    var message = document.getElementById('message').value;
                    var formData = {
                        name: name,
                        email: email,
                        message: message
                    };

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', 'submit_form.php', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function () {
                        if (xhr.status == 200) {
                            alert('Mensaje enviado con éxito');
                        } else {
                            alert('Hubo un error al enviar el mensaje. Por favor, intenta de nuevo.');
                        }
                    };
                    xhr.send(JSON.stringify(formData));
                }
            </script>
        </body>


    </div>
    <app-footer></app-footer>
</body>

</html>