<div class="container-mayor">
    <div class="imgPrincipal">
        <img src="assets/img/hospital2.jpg" alt="" >
    </div>
    <div>
        <p class="titulo">¿Qué es <span class="highlight">&nbsp;VitalCare </span> ? </p>
    </div>

    <div class="container-QS row align-items-center">
        <div class="col-md-6">
            <img src="assets/img/somos3.png" alt="">
        </div>
        <div class="col-md-6">
            <div class="quienesSomos">
                <h1 class="t1">Historia</h1><br>
                <p class="txt">Fundada el 20 de agosto del 2003 por un grupo de especialistas médicos, VitalCare fue creada con el propósito de establecer una clínica accesible para la 
                    población en general.</p>
                <p class="txt">Durante los últimos 20 años, nos hemos expandido a gran cantidad de estados en todo México e incluso latinoamerica, brindando atención personalizada y de calidad.</p>
            </div>
        </div>
    </div>
    
    <div class="container-filosofia">
        <div class="row">
            <h1 class="t2 col-md-12">Filosofía</h1>
        </div>
        <div class="container filosofia">
            <div>
                <mat-tab-group color="primary">
                    <mat-tab label="Vision">
                        <div class="row align-items-center vision">
                            <div class="col-md-5">
                                <img src="assets/img/latinoamerica.png" alt="">
                            </div>
                            <div class="col-md-7">
                                <p>Nuestra visión en VitalCare es ser reconocidos como una institución de salud líder en México y en toda Latinoamérica, destacando 
                                    por nuestros altos estándares de calidad y nuestra accesibilidad para todos nuestros pacientes. Nos esforzamos por mejorar la 
                                    vida de nuestros pacientes y la comunidad hispanoablante, priorizando la excelencia en el cuidado de la salud y el bienestar 
                                    de todos.</p>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Mision">
                        <div class="row align-items-center mision">
                            <div class="col-md-5">
                                <img src="assets/img/familia.png" alt="">
                            </div>
                            <div class="col-md-7">
                                <p>Nuestra misión en VitalCare es ayudar a las personas a cuidar su salud, ofreciendo servicios médicos de calidad que promuevan 
                                    la prevención de enfermedades y brindando un cuidado personalizado para todo tipo de personas.</p>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Valores">
                        <div class="row valores align-items-center">
                            <div class="col-md-8">
                                <mat-list>
                                    <mat-list-item>
                                        <div>
                                            <p><span class="boldtxt">Excelencia:</span> Nos comprometemos a ofrecer servicios de salud de la más alta calidad.</p>
                                        </div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <div>
                                            <p><span class="boldtxt">Ética:</span> Nuestro trabajo se basa en principios éticos sólidos, respetando siempre la dignidad y la privacidad.</p>
                                        </div>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <div>
                                            <p> <span class="boldtxt">Responsabilidad social:</span> Contribuimos al bienestar de la comunidad mediante la promoción de la salud.</p>
                                        </div>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/img/consulta.png" alt="">
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <div class="container-tecno container">
        <br>
        <h1 class="t1 tecno">Nuestra tecnología</h1>
        <div class="row align-items-center">
            <div class="col-md-6">
            <iframe width="560" 
            height="315" 
            [src]= "video | domseguro:'https://www.youtube.com/embed/'"
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p class="txt">¡En VitalCare, contamos con la última tecnología disponible para ofrecerte la mejor atención médica! Entre nuestras innovaciones, 
                    destacamos la presencia del <span class="highlight">robot Da Vinci</span> , que nos permite realizar procedimientos quirúrgicos de alta precisión y mínimamente 
                    invasivos.</p>
                <p class="txt"><mat-icon>arrow_left</mat-icon>Conócelo</p>
            </div>
        </div>
        
    </div>
    <div class="container-certif container">
        <h1 class="t1">Nuestros certificados</h1>
        <p class="txt">Nuestra prioridad es brindar calidad y seguridad. Respaldamos estas acciones con reconocimientos y certificaciones que avalan nuestro servicio de excelencia. </p>
        <div>
            <br>
            <img src="assets/img/certificaciones2.png" alt="" width="100%">
        </div>

    </div>
</div>
