<div class="email">
    <div class="mb-3">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="pass" name="password" [(ngModel)]="password" required>
    </div>
    <a (click)="ingresar()" class="btn btn-success" data-bs-dismiss="modal">Ingresar</a>
</div>