<section>
    <div class="tabla">
        <table class="table table-striped">
            <thead>
               <tr>
                  <th colspan="2" style="text-align: center;">Registro anual</th> 
              </tr>
              <tr>
                <th>Mes</th>
                <th>Citas</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let esp of titulos; let i=index">
                    <td>{{esp}}</td>
                    <td>{{datos[i]}}</td>
                </tr>
            </tbody>
          </table>
    </div>
    <div class="grafica">
        <canvas id="chart2" width="500">{{ chart2 }}</canvas>
    </div>
</section>

