.navbar {
    background-color: #004997;
    height: 100px;
    padding: 0 40px;
}

nav {
    box-shadow: 0px 16px 38px -5px rgba(0, 0, 0, 0.4);
}

.navbar a,
span {
    color: white;
}

#principal {
    padding: 40px 60px;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    width: 25%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

.card-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.card-price {
    font-size: 1.5em;
    color: #007bff;
    margin-top: 10px;
}

.card-text {
    margin-top: 10px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}