.especialidades .card-text {
    font-size: 16px;
}

.title-services {
    display: inline-block;
    text-align: center;
    background-color: #43ba7f1a;
    padding: 4px 16px;
    font-size: 20px;
    color: #238f5a;
    font-weight: bold;
    border-radius: 18px;
}

.especialidades{
    padding: 30px;
}


.especialidades .card {
    margin-bottom: 10px;
}


.highlight {
    color: #43ba7f;
}


.container-subtitle {
    text-align: center;
    padding-top: 30px;
}


.section-servicios {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    font-weight: bold;
}

.card {
    border-radius: 16px;
    margin: 5px;
    margin-bottom: 30px;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

.card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-body {
    padding: 20px;
}

.card-title {
    color: black;
    transition: color 0.3s ease, opacity 0.3s ease;
}

.card-text {
    color: black;
    font-size: 17px;
}

.card-price {
    font-style: italic;
    font-size: 15px;
    color: #238f5a;
}

.card-title:hover {
    color: #43ba7f;
}

.card:hover {
    border: white;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 520px;
    object-fit: cover;
}
