<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo de Desarrollo - Hospital</title>
</head>
<body>

    <div class="container">
        <h1>Equipo de Desarrollo</h1>
        
        <div class="team-member">
            <img src="../../assets/img/Nadia.png" alt="Desarrollador 1">
            <h2>Nadia Montserrat Acosta Miranda </h2>
            <p>¡Hola!, mi nombre es Nadia y actualmente estoy cursando la carrera de Ingeniería en Sistemas Computacionales. En este momento me encuentro inmersa en el estudio de Tecnologías Web, una asignatura que ha capturado completamente mi interés y se ha convertido en mi favorita.</p>
            <p>ID: Al</p>
        </div>
        
        <div class="team-member">
            <img src="/src/assets/img/paula.jpg" alt="Desarrollador 2">
            <h2>Paula Michelle Cruz Lira</h2>
            <p>Estudiante de ISC en la Universidad Autónoma de Aguascalientes</p>
            <p>ID: Al</p>
        </div>
        
        <div class="team-member">
            <img src="img/developer3.jpg" alt="Desarrollador 3">
            <h2>Ana Gabriela Sánchez Gutiérrez</h2>
            <p>Estudiante de ISC en la Universidad Autónoma de Aguascalientes</p>
            <p>ID: Al</p>
        </div>

        <div class="team-member">
            <img src="/src/assets/img/bar.heic" alt="Desarrollador 3">
            <h2>Bárbara Jimena Silva Jaime</h2>
            <p>Hola, mi nombre es Bárbara, soy estudiante de ISC en la Universidad Autónoma de Aguascalientes. Actualmente estoy cursando la materia de programación Web y estoy viendo donde puedo impartir todos mis conocimientos obtenidos</p>
            <p>ID: Al244923</p>
        </div>
    </div>
</body>
</html>