<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo de Desarrollo - Hospital</title>
</head>
<body>

    <div class="container">
        <h1>Equipo de Desarrollo</h1>
        
        @for (item of array; track item){
            <div class="team-member">
                <img [src]="item.imagen" alt="Desarrollador 1">
                <h2>{{item.nombre}}</h2>
                <p>{{item.descripcion}}</p>
            </div>  
        }      
    </div>
</body>
</html>