<div id="top">
    <!-- <div id="inicio-gradient"></div> -->
    <div>
        <img src="assets/img/carousel2.jpg" alt="">
    </div>
    <div id="eslogan">
        <h1>Construyendo un futuro más saludable</h1>
    </div>
</div>
<div class="text-center" id="bienvenida">
    <h3>Bienvenido a VitalCare</h3>
    <hr>
    <p>
        En VitalCare, nuestro compromiso es brindar atención médica de excelencia con compasión y
        dedicación.
        Nos enorgullecemos de ofrecer servicios médicos de alta calidad respaldados por un equipo profesional y unas
        instalaciones modernas.
    </p>
    <p>
        Nuestra prioridad es tu salud y bienestar. Ya sea que necesites atención de emergencia, consultas especializadas
        o cuidados
        hospitalarios, estamos aquí para cuidarte.
    </p>
    <p>
        Explora nuestro sitio web para conocer más sobre nuestros servicios, nuestro equipo médico y nuestras
        instalaciones. Si necesitas
        ayuda o quieres programar una cita, no dudes en contactarnos.
    </p>
</div>

<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row bg-green">
                <div class="col-12 col-lg-6" id="texto-urgencias">
                    <h1 class="carrousel-title">Confía tu salud <br><span class="highlight">a nuestros expertos</span>
                    </h1>
                    <p>
                        Cada uno de nuestros médicos tiene una amplia experiencia y está respaldado por una sólida
                        formación académica y profesional. Trabajan en estrecha colaboración para ofrecer un enfoque
                        integral y personalizado a la atención médica.
                    </p>
                    <p>
                        Te invitamos a conocer a cada uno de nuestros médicos y aprender más sobre sus logros,
                        especialidades y enfoques de atención.
                    </p>
                    <button class="btn btn-custom" [routerLink]="['/nuestrosMedicos']">
                        Conoce a nuestros médicos
                        <i class="fa-solid fa-arrow-right fa-xl"></i>
                    </button>
                </div>
                <div class="col-12 col-lg-6" id="img-urgencias">
                    <img src="assets/img/medicos.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row bg-green">
                <div class="col-12 col-lg-6" id="img-urgencias">
                    <img src="assets/img/ambulancia.jpg" alt="">
                </div>
                <div class="col-12 col-lg-6" id="texto-urgencias">
                    <h1 class="carrousel-title">Descubre todo lo que <br><span class="highlight">ofrecemos para
                            tí</span></h1>
                    <p>
                        En <span class="highlight">VitalCare</span>, nos enorgullecemos de ofrecer una
                        amplia gama de servicios
                        médicos diseñados para cubrir todas las necesidades de salud de nuestros pacientes. Nuestro
                        equipo multidisciplinario de profesionales médicos altamente capacitados está comprometido con
                        brindar atención de calidad y compasiva en cada etapa del proceso de atención médica.
                    </p>
                    <button class="btn btn-custom" [routerLink]="['/servicios']">
                        Conoce nuestros servicios
                        <i class="fa-solid fa-arrow-right fa-xl"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row bg-green">
                <div class="col-12 col-lg-6" id="texto-urgencias">
                    <h1 class="carrousel-title">Es momento de programar tu <br><span class="highlight">visita
                            médica</span></h1>
                    <p>
                        En el <span class="highlight">VitalCare</span>, queremos asegurarnos de que obtener
                        atención médica sea lo más conveniente posible para ti. Con nuestro sistema de citas en línea,
                        reservar una consulta con nuestros especialistas es rápido y sencillo.
                    </p>
                    <button class="btn btn-custom" [routerLink]="['/regCitas']">
                        Reservar una cita
                        <i class="fa-solid fa-arrow-right fa-xl"></i>
                    </button>
                </div>
                <div class="col-12 col-lg-6" id="img-urgencias">
                    <img src="assets/img/cita.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row estadisticas">
    <div class="col-6 col-lg-3 estadistica">
        <div>
            <i class="fa-solid fa-bed"></i>
        </div>
        <h2>
            32,056
        </h2>
        <p>
            Pacientes Hospitalizados a diciembre de 2023
        </p>
    </div>
    <div class="col-6 col-lg-3 estadistica">
        <div>
            <i class="fa-solid fa-syringe"></i>
        </div>
        <h2>
            22,363
        </h2>
        <p>
            Cirugías Realizadas a diciembre de 2023
        </p>
    </div>
    <div class="col-6 col-lg-3 estadistica">
        <div>
            <i class="fa-solid fa-pills"></i>
        </div>
        <h2>
            18,563
        </h2>
        <p>
            Tratamientos Médicos a diciembre de 2023
        </p>
    </div>
    <div class="col-6 col-lg-3 estadistica">
        <div>
            <i class="fa-solid fa-user-doctor"></i>
        </div>
        <h2>
            21,079
        </h2>
        <p>
            Consultas Médicas a diciembre de 2023
        </p>
    </div>
</div>
<div id="video-container" class="row">
    <div id="video" class="col">
        <iframe width="550" height="309" [src]="video | domseguro:'https://www.youtube.com/embed/'" title="¡Feliz Día del Médico!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div id="video-texto" class="col">
        En <span class="highlight">VitalCare</span> agradecemos <br> el esfuerzo y <br> dedicación <br>de cada uno <br> de nuestros <br>médicos.
    </div>
</div>
<div id="reconocimientos">
    <h2 class="highlight">Certificaciones, Reconocimientos y Afiliaciones</h2>
    <p>Nuestra prioridad es brindar calidad y seguridad. Respaldamos estas acciones con <br> reconocimientos y certificaciones que avalan nuestro servicio de experiencia</p>
    <div class="row">
        <div class="col"><img src="assets/img/certificaciones/cehc.png" alt=""></div>
        <div class="col"><img src="assets/img/certificaciones/certificacion.png" alt=""></div>
        <div class="col"><img src="assets/img/certificaciones/empresas.png" alt=""></div>
        <div class="col"><img src="assets/img/certificaciones/expansion.png" alt=""></div>
        <div class="col"><img src="assets/img/certificaciones/HRO-Champion.png" alt=""></div>
        <div class="col"><img src="assets/img/certificaciones/images.png" alt=""></div>
        <div class="col"><img src="assets/img/certificaciones/iso.png" alt=""></div>
        <div class="col"><img src="assets/img/certificaciones/isqua.png" alt=""></div>
    </div>
</div>