

#top{
    position: relative;
    width: 100%;
    height: 93vh;
    overflow: hidden;
}
#inicio-gradient{
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(67, 186, 127,1),rgba(67, 186, 127,0));
}
#top img{
    min-height: 93vh;
    min-width: 100%;
    opacity: 0.8;
}

#eslogan{
    position: absolute;
    top: 0;
    height: 93vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}
#eslogan h1{
    font-size: 60px;
    font-weight: bold;
    /* color: #02130a; */
    color: white;
    /* text-shadow: 0px 0px 20px white; */
    text-shadow: 0px 0px 20px #02130a;
}
.highlight{
    color: #43ba7f;
}

.bg-green{
    /* background-color: #43ba7f;
    color: white; */
    background-color: #ecf8f2;
}

#img-urgencias{
    height: 700px;
    overflow: hidden;
    padding-right: 0px !important;
}

#img-urgencias img{
    min-width: 100%;
    min-height: 700px;
    max-width: 130%;
}

#texto-urgencias{
    padding: 0px 80px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    margin-right: 0px !important;
}

#bienvenida{
    padding: 100px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bienvenida hr{
    color: #238f5a;
    border: 4px solid #238f5a;
    opacity: 0.8;
    width: 200px;
    margin: 10px 0px 30px 0px;
}

#bienvenida p{
    font-size: 20px;
}

#bienvenida h3{
    color: #238f5a;
    font-weight: bold;
    font-size: 30px;
}

.carrousel-title{
    padding-bottom: 15px;
}

.btn-custom {
    background-color: #43ba7f;
    color: white;
    font-size: 20px;
    padding: 20px 27px;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 20px;
    width: fit-content;
}

.btn-custom:hover {
    background-color: #193126;
}

.btn-custom i{
    padding-left: 10px;
}

.carousel-control-next, .carousel-control-prev{
    width: 4%;
}

.estadistica{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estadistica:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
    transition: 1s;
}

.estadisticas{
    padding: 130px 0px;
    overflow-x: hidden;
}

.estadistica div{
    border: 7px solid #238f5a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}

.estadistica i{
    font-size: 80px;
    color: #238f5a;
}

.estadistica h2{
    font-weight: bold;
    padding-top: 20px;
    font-size: 40px;
    color: #193126;
}

.estadistica p{
    font-size: 20px;
    text-align: center;
    color: #193126;
}

#video-container{
    padding: 30px;
    padding-bottom: 0;
}
#video{
    padding: 30px;
    text-align: center;
}
#video-texto{
    background-image: url(../../assets/img/abrazo.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    font-weight: bold;
    color: black;
    font-size: 40px;
}

iframe{
    box-shadow: 0 0 20px #193126;
}

#reconocimientos{
    background-color: #43ba7f1a;
    text-align: center;
    padding: 90px 0px 50px 0px;
}

#reconocimientos img{
    height: 70px;
    margin-bottom: 40px;
}

#reconocimientos h2{
    font-weight: bold;
    font-size: 35px;
}

#reconocimientos p{
    font-size: 18px;
    padding-bottom: 20px;
}