<body>
    <div class="container-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-7">
                    <h1 class="title-container">La mejor atención solo en <span class="highlight">Vital Care</span></h1>
                    <br>
                    <p class="text-container">En nuestra clínica, nos enorgullece contar con los <span class="highlight">mejores especialistas médicos</span>. 
                        Nuestro equipo de profesionales altamente calificados está aquí para cuidar de ti y de tu familia en cada etapa de tu vida..</p>
                </div>
                <div class="col-5">
                    <img src="assets/img/doctoresEspe.png" alt="" width="600px" >
                </div>
                
            </div>
        </div>
    </div>
    <div class="container-formulario container">
        <form class="" [formGroup]="citaForm">
            <div class="container-paciente row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="section-name">Registro de paciente</h1>
                            <p class="style-text">Por favor, <span class="highlight"> completa el formulario </span>  a continuación para registrarte como paciente y atenderte mejor. </p>
                        </div>
                        <br>
                        <div class="col-12">
                            <h5>Información del paciente</h5>
                        </div>
                        <div class="col-6">
                            <label for="nomCita" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="nomCita" required formControlName="nombre" [(ngModel)]="nombrePac">
                        </div>
                        <div class="col-6">
                            <label for="apeCita" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="apeCita" required formControlName="apellidos" [(ngModel)]="apellidosPac">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="telCita" class="form-label">Teléfono (Ejemplo: +524492555555):</label>
                            <input type="text" class="form-control" id="telCita" required formControlName="telefono" [(ngModel)]="telefonoPac">
                        </div>
                    </div>
                    <div class="row container-FH">
                        <div class="col-md-6">
                            <label for="fechaCita" class="form-label">Fecha de nacimiento</label><br>
                            <mat-form-field>
                                <input formControlName="fecha" matInput [max]="minDate" [matDatepicker]="picker" readonly (dateChange)="fechaSelec($event)">
                                <mat-datepicker-toggle matIconSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <h1 class="section-name">Datos de sesión</h1>
                            <p class="text-container">¡Recuerda guardarlos en un lugar seguro!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="CorreoPac" class="form-label">Correo</label>
                            <input type="mail" class="form-control" id="CorreoPac" required formControlName="correo" [(ngModel)]="correoPac">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="ContraseñaPac" class="form-label">Nueva contraseña</label>
                            <input type="password" class="form-control" id="ContraseñaPac" required formControlName="contraseña" [(ngModel)]="contrasenaPac">
                        </div>
                    </div><br>
                    <div class="bot">
                        <button (click)="checkData()" class="btn btn-success btn-outline-light">¡Registrarse!</button>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>
</body>