.container-top{
    padding-top: 25px;
    background-color: #43ba7f1a;
}

.container-subtitle {
    text-align: center;
}

.title-contact {
    display: inline-block;
    text-align: center;
    background-color: #43ba7f1a;
    padding: 4px 16px;
    font-size: 20px;
    color: #238f5a;
    font-weight: bold;
    border-radius: 18px;
}

.form-control {
    padding: 14px 25px 12px;
    border-radius: 30px;
    background-color: rgba(88, 88, 88, .05);
    border: none;
    font-size: 20px;
}

.fecha {
    padding: 0px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

.container-Regcitas{
    padding-top: 30px;

}

.container-side{
    margin-top: 30px;
    margin-bottom: 60px;
}

.title-cont {
    text-align: center;
}

.section-name {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.min{
    font-size: 15px;
}

.style-text{
    font-size: 22px;
    padding: 15px;
    padding-left: 0px;
    text-align: center;
}


label{
    padding-top: 10px;
}

.container-formulario{
    padding-top: 30px;
}

.highlight {
    color: #43ba7f;
}

.title-container {
    font-size: 55px;
    font-weight: bold;
}

.text-container {
    font-size: 22px;
    padding-bottom: 30px;
}

.btn {
    background-color: #43ba7f;
    color: white;
    font-size: 20px;
    padding: 15px 27px;
    border-radius: 40px;
    font-weight: bold;
    margin: 0 auto;
    cursor: pointer;
}

.btn:hover {
    background-color: #193126;
}